form{ 
background-color: rgb(119, 189, 167); 
width: 50%;
box-shadow: 5px 5px rgb(205, 169, 231);
margin:15% auto;
border-radius: 5px;
padding: 30px;
}
input, label{
    font-size: 1em;
    font-family: 'Reggae One', cursive;
    margin-bottom: 5%;
}
input{ 
    border: 2px solid rgb(205, 169, 231);
    border-radius: 5px;
    width: 35%;
    height: 20px;
}

